html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table, td {
    align-content:center;
    cellspacing= 20;
    cellpadding= 20; 
    color: black;
    background-color: darksalmon;
    border: 1px, solid white;
    align-items: center;
}

.taskBox{
    position: relative;
    border: 20px, solid white;
    align-content: center;
    background-color: darksalmon;
    
}